{% extends 'base.html'%}

{% block content %}
<h3>My Lists</h3>
<form action="/users/{{ user.id }}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>
<p> This is where a users favorite lists will go</p>

<ul>
    {% for favorite in favorites %}
    <li>
        <form>
            {{form.hidden_tag()}}
            <button class="btn btn-link" formmethod="GET" formaction="/users/{{ user.id }}/lists/{{ favorite.id }}">{{ favorite.name }}</button>
        </form>
        <p>- {{ favorite.description }}</p>
        <form action="/users/{{ user.id }}/delete/{{ favorite.id }}", method="POST">
            <button class="btn bg-transparent"><i class="fas fa-trash"></i></button>                    
            <a class="btn btn-light" href="/users/{{ user.id }}/edit/{{ favorite.id }}">Edit</a>
        </form>
    </li>
    {% endfor %}
</ul>

<form>
    {{form.hidden_tag()}}
    <button class="btn btn-info" formmethod="GET" formaction="/users/{{ user.id }}/search">
        Go to Search Form             
    </button>
</form>

{% endblock %}