{% extends 'base.html'%}

{% block content %}
<h3>My Lists</h3>
<p> This is where a users favorite lists will go</p>

<ul>
    {% for favorite in favorites %}
    <li>
        <a href="/users/{{favorite.id}}">{{ favorite.name }}</a>
        <p>{{ favorite.description }}</p>
    </li>
    {% endfor %}
</ul>

<form>
    {{form.hidden_tag()}}
    <button class="bt btn-info" formmethod="GET" formaction="/users/{{ user.email }}/search">
        Go to Search Form             
    </button>
</form>

{% endblock %}