{% extends 'base.html'%}

{% block content %}
<div class="container p-5">
    <div class="row">
        <div class="col">
            <h3 class="font-weight-light">{{ user.first_name }}'s list.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group pt-5">
                {% for p in favList.places %}
                <li class="list-group-item">
                    <p>{{ p.name }}</p>
                    <p>{{ p.address }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col text-right pt-5">
            <form>
                {{form.hidden_tag()}}
                <button class="bt btn-info" formmethod="GET" formaction="/users/{{ user.id }}/search">
                    Go to Search Form             
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}